/*div{
    background-color: red;
    height: 150px;
    width: 150px;
    border: 5px solid red;
    margin: 20px;
    
}

 /* div{
    background-color: aquamarine;
    height: 500px;
    width: 200px;
    border: 7px solid aquamarine;
    float: left;
    margin: 50px;
}